body{
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

nav{
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}
.left-items-nav{
    display: flex;
    height: 60px;
    align-items: center;
    width: 70%;
}
.nav-links{
    display: flex;
    width: 35%;
    margin: 0 0 10px 0;
    justify-content: space-between;
}
.nav-links .mobile-btns-row{
    display: none;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
.navbar-shadow{
  display: none;
}
.navbar-tabs-container{
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}
.nav-links li{
    list-style: none;
    align-items: start;
    padding-right: 30px;
} 

.nav-links a:hover{
    cursor: pointer;
    color:hsl(0, 0%, 8%);
}

li.company-tab, li.features-tab{
  position: relative;
}

.company-tab::before, .features-tab::before{
  content: '';
  position: absolute;
  top: 9px;
  right: 16px;
  width:5px;
  height: 2px;
  background-color: hsl(0, 0%, 41%);
  transform: rotate(40deg);
}

.company-tab::after, .features-tab::after{
  content: '';
  position: absolute;
  top: 9px;
  right: 13px;
  width:5px;
  height: 2px;
  background-color: hsl(0, 0%, 41%);
  transform: rotate(-40deg);
}
.company-tab.active::before, .features-tab.active::before{
  content: '';
  position: absolute;
  top: 9px;
  right: 13px;
  width:5px;
  height: 2px;
  background-color: hsl(0, 0%, 41%);
  transform: rotate(40deg);
}

.company-tab.active::after, .features-tab.active::after{
  content: '';
  position: absolute;
  top: 9px;
  right: 16px;
  width:5px;
  height: 2px;
  background-color: hsl(0, 0%, 41%);
  transform: rotate(-40deg);
}

.options-features{
  display: none;
}

.options-features.active {
  display: block;
  position: absolute;
  top: 30px;
  right: 15px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
  z-index: 2;

}

.options-company{
  display: none;
}

.options-company.active{
  display: block;
  position: absolute;
  top: 30px;
  right: 15px;
  width: 80px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100,100,111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.option {
  display: flex;
  padding: 10px 5px;
  font-size: 13px;
  align-items: center;
}

.option:hover {
  cursor: pointer;
}
.feature-icon{
  margin-right: 13px;
  font-size: 18px;
}

.right-items-nav{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 10px;
}

.login-btn{
    border: none;
    font-family: inherit;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%) ;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
}

.register-btn{
    height: 40px;
    padding: 0 20px;
    border-radius: 13px;
    border: 1px solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    text-transform: capitalize;
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;

}

.login-btn:hover, .register-btn:hover {
    cursor: pointer;
    color: hsl(0, 0%, 8%) ;
}
.register-btn:hover {
    border-color: hsl(0, 0%, 8%);
}

.container{
    display: flex;
    padding: 50px 120px;
}
.text-col{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 50px;
    padding-right: 80px;
    position:relative;
    justify-content: space-between;
}
.image-col{
    display: block;
    width: 50%;
    padding-left: 50px;
}
.hero-desktop-img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.hero-mobile-img{
    display: none;
}
.title-container{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding:45px 0;
}

.title-1, .title-2{
    font-size: 75px;
    color: hsl(0, 0%, 8%);
    margin:0;
}
.title-mobile{
  display: none;
}

.description{
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 100px
}

.learn-btn{
    font-family: inherit;
    font-size:18px;
    font-weight: 500;
    background-color:hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    height: 60px;
    width: fit-content;
    padding: 0 25px;
    border-radius: 20px;
}
.learn-btn:hover{
    cursor: pointer;
    background-color:  hsl(0, 0%, 98%);
    color:  hsl(0, 0%, 8%);
    transition: ease-in-out 0.3s;
}

.clients{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.client-logo{
    flex-direction: column;
    width: 25%;
    margin: 5px 10px;
}

@media (max-width: 1360px){
  .container{
    display: flex;
    padding: 50px 100px;
  }
  .text-col{
    padding: 30px 20px 0 0;
  }
  .title-container{
    padding: 40px 0;
  }
  .title-1, .title-2{
    font-size: 60px;
    font-weight: 700;
  }
  .description{
    font-size: 20px;
    margin-bottom: 70px;
  }
  .learn-btn{
    font-size: 16px;
  }

}
@media (max-width: 1080px){
  .text-col{
    padding: 30px 40px 0 0;
  }

  .title-container{
    padding: 30px 0;
  }
  .title-1, .title-2{
    font-size: 48px;
    font-weight: 700;
  }

  .description{
    font-size: 18px;
    margin-bottom: 40px;
  }

}

@media (max-width: 960px){
  .container{
    padding: 50px 60px;
  }
  .text-col{
    padding: 10px 20px 0 0;
  }
  .title-container{
    padding: 20px 0;
  }
  .title-1, .title-2{
    font-size: 32px;

  }
  .description{
    font-size: 15px;
  }
 
}

@media (max-width:760px){
  .container {
    padding: 50px 10px;
  }
  .image-col{
    padding-left: 0;
  }
  .title-container{
    padding: 10px 0;
  }
  .title-1, .title-2{
    font-size: 24px;
  }
  .description{
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  .learn-btn{
    height: 40px;
    border-radius: 13px;
    font-size: 13px;
  }

}

@media (max-width: 600px){
  body{
    overflow-x: hidden;
  }
  .container{
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0;
  }  
  .image-col{
    padding-left: 0;
    width: 100%;
  }
  .hero-desktop-img{
    display: none;
  }
  .hero-mobile-img{
    display: block;
    object-fit: cover;
    width: 100%;
  }

  .text-col{
    width: auto;
    padding: 15px;
    text-align: center;
  }
  .title-1, .title-2{
    display: none;
  }

  .title-mobile{
    display: block;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  }
  .description{
    width: auto;
    padding: 0 25px;
    font-size: 15px;
    line-height: 24px;
  }
  .learn-btn{
    align-self: center;
    margin: 15px 0 50px 0;
  }
  .client-logo{
    width: 50%;
    margin: 10px 0;
  }
  .icon{
    width: 80%;
  }

  nav{
    padding: 10px 15px;
  }
  .left-items-nav{
    height: 40px;
  }
  .logo-img{
    margin-top: 10px;
  }
  .right-items-nav{
    padding-bottom: 0;
  }

  .nav-links{
    position: absolute;
    right: 0;
    top: 0;
    height: 91vh;
    z-index: 3;
    background-color: white;

    display: flex;
    flex-direction: column;
    padding: 8vh 20px 10px 20px;
    align-items: start;
    justify-content: space-between;
    width: 58%;
    transform: translateX(98%);
    transition: transform 0.5s ease-in;
  }

  .navbar-tabs-container{
    display: flex;
    flex-direction: column;
  }

  .nav-links li {
    opacity: 0;
    z-index: 4;
    margin-bottom: 25px;
  }
  .nav-links a{
    font-size: 16px;
    font-weight: 700;
  }
  .nav-links .mobile-btns-row{
    display: flex;
  }
  .mobile-btns-row{
    width: 100%;
    margin: 0 auto 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
   
  }
  .mobile-btns-row .login-btn{
    margin: 20px;
  }
  .mobile-btns-row .login-btn, .mobile-btns-row .register-btn{
    font-size: 14px;
  }
  .right-items-nav{
    justify-content: end;
  }
  .right-items-nav .login-btn, .right-items-nav .register-btn{
    display: none;
  }
  .burger{
    display: block;
    cursor: pointer;
    z-index: 4;
  }

  .nav-active{
    transform: translateX(0px);
  }

  .navbar-shadow-active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .burger-active .line1{
    transform: rotate(-45deg) translate(-5px, 0);
  }
  .burger-active .line2 {
    display: none;
    transition: ease-in-out 0.3s;
  }
  .burger-active .line3{
    transform: rotate(45deg) translate(-5px, 0);
  }

  .options-features {
    display: none;
  }
  .options-features.active {
    display: block;
    position: relative;
    top: 8px;
    left: 3px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: none;
    z-index: 2;
  }
  .options-company {
    display: none;
  }
  .options-company.active {
    display: block;
    position: relative;
    top: 8px;
    left: 3px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    box-shadow: none;
    z-index: 2;
  }

  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
    
  }


}